<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <style>
        .nav-tabs .nav-link {
            border: none;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: inherit;
        }

        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            background-color: rgba(255, 255, 255, 0.26);
        }

        [v-cloak] {
            display: none;
        }

        .browser {
            padding: 40px 0 0 0;
            border: black 3px solid;
            height: 500px;
        }

        .ntw-container {
            height: 413px;
            text-align: center;
        }

        .ntw {
            padding: 20px;
            font-size: 20px;
            font-weight: bold;
        }

        .slider {
            width: 100%;
        }

        .message {
            padding: 10px;
            margin: 5px 0;
        }

        .info {
            background-color: rgba(173, 255, 47, 0.5);
        }

        .error {
            background-color: rgba(255, 99, 71, 0.5);
        }
    </style>
</head>
<body>

<div id="app" v-cloak style="padding: 20px 20px 20px 40px">
    <div class="row">
        <div class="col-md-7 browser"
             :style="{ backgroundColor: frameColor }">
            <ul class="nav nav-tabs" id="myTab" role="tablist" :style="{borderColor: frameColor}">
                <li v-for="tab in tabs" class="nav-item" @click="activate(tab.id)">
                    <a class="nav-link" :class="{ active: tab.active }" :id="tab.id + '-tab'"
                       data-toggle="tab"
                       :href="'#' + tab.id" role="tab" :aria-controls="tab.id" aria-selected="false"
                       :style="{ backgroundColor: tab.active ? toolbarColor : frameColor, color: tab.active ? toolbarFontColor : frameFontColor }"
                    >
                        {{ tab.title }}
                    </a>
                </li>
            </ul>
            <div class="ntw-container tab-content" id="myTabContent"
                 :style="{ backgroundColor: toolbarColor }">
                <div v-for="tab in tabs" class="ntw tab-pane" :class="{active: tab.active}"
                     :id="tab.id" role="tabpanel"
                     :style="{color: tab.active ? toolbarFontColor : frameFontColor}"
                     :aria-labelledby="tab.id + '-tab'">
                    {{ tab.title }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <div class="form-group">
                    <label for="modify-select">allow to modify</label>
                    <select class="form-control" id="modify-select" v-model="modifySelect">
                        <option value="frame" selected>frame color</option>
                        <option value="toolbar">toolbar color</option>
                        <option value="both">both</option>
                    </select>
                </div>
                <hr/>

                <div class="form-group">
                    <label for="frame">frame</label>
                    <input type="color" class="form-control-file" id="frame"
                           name="color" v-model="frameColor"
                           :disabled="modifySelect === 'toolbar'"/>
                </div>
                <div class="form-group form-check">
                    <label for="frameScale">frame auto lightness: {{ frameScale }}</label>
                    <input type="range" min="-0.5" max="0.5" value="0.1" step="0.01"
                           class="slider" id="frameScale" v-model="frameScale"
                           :disabled="modifySelect !== 'toolbar'"
                    >
                </div>
                <hr/>

                <div class="form-group">
                    <label for="toolbar">toolbar</label>
                    <input type="color" class="form-control-file" id="toolbar"
                           name="color" v-model="toolbarColor"
                           :disabled="modifySelect === 'frame'"/>
                </div>
                <div class="form-group form-check">
                    <label for="toolbarScale">toolbar auto lightness: {{ toolbarScale }}</label>
                    <input type="range" min="-0.5" max="0.5" value="0.1" step="0.01"
                           class="slider" id="toolbarScale" v-model="toolbarScale"
                           :disabled="modifySelect !== 'frame'"
                    >
                </div>
                <hr/>

                <div class="form-group form-check">
                    <label for="savePath">save path</label>
                    <input type="text" class="form-control" id="savePath" v-model="savePath"
                           placeholder="save/directory/path/for/manifest">
                </div>
                <button @click="saveManifest" class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 15px">
        <div v-for="msg in messages" class="message"
             :class="{info: msg.type === 'info', error: msg.type === 'error' }">
            {{ msg.text }}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

    let delayTimer;

    const app = new Vue({
        el: '#app',
        data: {
            savePath: '',
            frameColor: '#2e5daa',
            toolbarColor: '#4286f4',

            frameFontColor: '#fff',
            toolbarFontColor: '#fff',

            modifySelect: 'frame',

            frameScale: -0.1,
            toolbarScale: 0.1,

            tabs: [
                {
                    id: 'google',
                    title: 'google',
                    active: false,
                },
                {
                    id: 'foobar',
                    title: 'foobar',
                    active: true,
                },
                {
                    id: 'new-tab',
                    title: 'new tab',
                    active: false,
                },
            ],

            messages: [],
        },
        methods: {
            saveManifest: function () {
                console.log('saving...');
                ws.emit('save', {
                    path: this.savePath,
                    toolbarColor: this.toolbarColor,
                    frameColor: this.frameColor,
                })
            },

            requestUpdateColors: function () {
                console.log('update color');
                ws.emit('update', {
                    toolbarColor: this.toolbarColor,
                    frameColor: this.frameColor,
                    toolbarScale: this.toolbarScale,
                    frameScale: this.frameScale,
                })
            },

            updateColors: function (data) {
                this.frameFontColor = data.frameFontColor;
                this.toolbarFontColor = data.toolbarFontColor;
                if (this.modifySelect === 'frame') {
                    this.toolbarColor = data.autoToolbarColor;
                }
                if (this.modifySelect === 'toolbar') {
                    this.frameColor = data.autoFrameColor;
                }
            },

            activate: function (tabId) {
                for (tab of this.tabs) {
                    tab.active = tab.id === tabId;
                }
            },

            addMessage: function (text, type) {
                this.messages.unshift({
                    text: text,
                    type: type,
                });
                if (this.messages.length > 3) {
                    this.messages = this.messages.slice(0, 3);
                }
            }
        },
        updated: function () {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function () {
                app.requestUpdateColors();
            }, 100);
        }
    });
    const ws = io.connect('http://' + document.domain + ':' + location.port);
    ws.on('connect', function () {
        app.requestUpdateColors();
    });

    ws.on('update', function (e) {
        console.log('catch updated');
        console.log(e);
        app.updateColors(e);
    });

    ws.on('info', function (e) {
        app.addMessage(e, 'info');
    });

    ws.on('error', function (e) {
        app.addMessage(e, 'error');
    });
</script>
</body>
</html>
